:root {
  --primary: #502050;
  --primary-soft: #5020501a;
  --secondary: #ee68a4;
  --complementary: #937b92;
  --neutral-primary: #f7f2f7;
  --neutral-secondary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  position: relative;
  display: grid;
  place-items: center;
  grid-template-rows: auto 30px;
  width: 100%;
  min-height: 100vh;
  font-size: 15px;
  line-height: 20px;
}

main {
  width: 100%;
  max-width: 1050px;
  padding: 50px;
}

.info-container {
  display: grid;
  place-items: center;
}

.text-info-container {
  max-width: 400px;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: initial;
  color: var(--primary);
}

.text-info-container p {
  margin: 20px 0px 30px;
  font-weight: 500;
  color: var(--complementary);
}

.main-rate-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 610px;
}

.rate-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  width: 100%;
  max-width: 400px;
  min-height: 50px;
  margin: 10px 0px;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 700;
  color: var(--primary);
  background-color: var(--primary-soft);
}

.main-rate-container div:nth-child(2) {
  align-self: center;
}

.main-rate-container div:nth-child(3) {
  align-self: flex-end;
}

.rate-container figure {
  justify-self: center;
  margin-bottom: 10px;
  width: 100px;
  height: 16px;
  background-image: url(../images/icon-star.svg);
  background-repeat: space no-repeat;
}

.rate-container p {
  flex-basis: 200px;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  justify-content: center;
  min-height: 300px;
  margin-top: 40px;
}

.card {
  max-width: 300px;
  margin: 10px 0px;
  padding: 30px 20px;
  border-radius: 5px;
  color: var(--neutral-primary);
  background-color: var(--primary);
}

.author-container {
  display: flex;
  align-items: center;
  height: 45px;
  margin-bottom: 25px;
}

.author-container img {
  height: 40px;
  border-radius: 50%;
}

.author span {
  display: block;
  margin-left: 20px;
  line-height: 18px;
}

.author span:nth-child(1) {
  color: var(--neutral-secondary);
}

.author span:nth-child(2) {
  color: var(--secondary);
}

.background figure {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
}

.background-top {
  top: 0;
  left: 0;
  height: 50vh;
  background-image: url(../images/bg-pattern-top-mobile.svg);
  background-position: top left;
  background-size: contain;
}

.background-bottom {
  bottom: 0;
  right: 0;
  height: 70vh;
  background-image: url(../images/bg-pattern-bottom-mobile.svg);
  background-position: top right;
  background-size: cover;
}

.attribution {
  margin-bottom: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: var(--secondary);
}

.attribution a:hover {
  color: var(--primary);
}

@media (min-width: 460px) {
  .rate-container {
    justify-content: flex-start;
    padding-right: 0px;
  }

  .rate-container figure {
    margin-bottom: 0px;
  }

  .rate-container p {
    text-align: initial;
  }
}

@media (min-width: 820px) {
  .info-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 20px;
  }

  .text-info-container {
    justify-self: flex-start;
    padding-right: 40px;
    text-align: initial;
  }

  .text-info-container p {
    margin: 10px 0px 0px;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card:nth-child(1) {
    align-self: flex-start;
  }

  .card:nth-child(2) {
    align-self: center;
  }

  .card:nth-child(3) {
    align-self: flex-end;
  }

  .background-top {
    background-image: url(../images/bg-pattern-top-desktop.svg);
  }
  .background-bottom {
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
  }
}
